Repository KambalaFish/vitrinaFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint", "prettier --write"],
  "*.{css,scss,sass}": ["stylelint --fix"]
}

modal window was created
  src/components/uiKit/ModalWindow.tsx
  src/components/uiKit/buttons/SocialButton.tsx
  src/index.html
  src/interfaces/props/ButtonProps.ts
  src/interfaces/props/ClassNameProp.ts
  src/interfaces/props/LogoProps.ts
  src/interfaces/props/common/ChildrenProp.ts
  src/interfaces/props/common/CustomClassNameProp.ts
  src/interfaces/props/component/ButtonProps.ts
  src/interfaces/props/component/LogoProps.ts
  src/interfaces/props/component/ModalWindowProps.ts
  src/interfaces/props/component/ShoppingPanelProps.ts
  src/pages/PersonalAccount.tsx
  src/redux/user/sagas/authentication.saga.ts
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/components/button.module.scss
  src/styles/components/modal.module.scss
  src/styles/layout/header/header.module.scss
  src/styles/layout/header/infopanel.module.scss
  src/styles/layout/header/logo.module.scss
  src/styles/layout/header/menu.module.scss
  src/styles/layout/header/searchform.module.scss
  src/styles/layout/header/shoppingpanel.module.scss
  src/utils/pages.ts
  src/utils/pages.tsx
Due: eslint, prettier --write, stylelint --fix

Breadcrumbs were created
  .eslintrc.json
  src/components/breadcrumbs/BreadCrumbs.tsx
  src/components/breadcrumbs/Crumb.tsx
  src/components/breadcrumbs/HomeCrumb.tsx
  src/components/layout/Layout.tsx
  src/components/routing/StatefulLink.tsx
  src/interfaces/props/component/CrumbProps.ts
  src/interfaces/utils/pages.ts
  src/styles/components/breadcrumbs.module.scss
  src/styles/layout/page.module.scss
  tsconfig.json
  webpack.config.js
Due: eslint, prettier --write, stylelint --fix

Notification popups were created
  src/App.tsx
  src/components/notifications/Notification.tsx
  src/components/notifications/Notifications.tsx
  src/components/notifications/NotificationsHeader.tsx
  src/components/routing/AllRoutes.tsx
  src/interfaces/contexts/NotificationContext.ts
  src/interfaces/other/INotification.ts
  src/interfaces/props/component/NotificationProps.ts
  src/styles/components/notification.module.scss
  src/styles/layout/notifications.module.scss
  src/utils/notifications/NotificationContext.ts
  src/utils/notifications/NotificationType.ts
  src/utils/notifications/notification.actions.ts
  src/utils/notifications/notificationCreators.ts
  src/utils/notifications/notifications.reducer.ts
Due: eslint, prettier --write, stylelint --fix

Minor refactoring
  src/components/breadcrumbs/Crumb.tsx
  src/components/notifications/Notification.tsx
Due: eslint, prettier --write

Modal window was implemented
  src/components/uiKit/ModalWindow.tsx
  src/components/uiKit/buttons/SocialButton.tsx
  src/index.html
  src/interfaces/props/ButtonProps.ts
  src/interfaces/props/ClassNameProp.ts
  src/interfaces/props/LogoProps.ts
  src/interfaces/props/common/ChildrenProp.ts
  src/interfaces/props/common/CustomClassNameProp.ts
  src/interfaces/props/component/ButtonProps.ts
  src/interfaces/props/component/LogoProps.ts
  src/interfaces/props/component/ModalWindowProps.ts
  src/interfaces/props/component/ShoppingPanelProps.ts
  src/pages/PersonalAccount.tsx
  src/redux/user/sagas/authentication.saga.ts
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/components/button.module.scss
  src/styles/components/modal.module.scss
  src/styles/layout/header/header.module.scss
  src/styles/layout/header/infopanel.module.scss
  src/styles/layout/header/logo.module.scss
  src/styles/layout/header/menu.module.scss
  src/styles/layout/header/searchform.module.scss
  src/styles/layout/header/shoppingpanel.module.scss
  src/utils/pages.ts
  src/utils/pages.tsx
Due: eslint, prettier --write, stylelint --fix

Breadcrumbs were implemented
  .eslintrc.json
  src/components/breadcrumbs/BreadCrumbs.tsx
  src/components/breadcrumbs/Crumb.tsx
  src/components/breadcrumbs/HomeCrumb.tsx
  src/components/layout/Layout.tsx
  src/components/routing/StatefulLink.tsx
  src/interfaces/props/component/CrumbProps.ts
  src/interfaces/utils/pages.ts
  src/styles/components/breadcrumbs.module.scss
  src/styles/layout/page.module.scss
  tsconfig.json
  webpack.config.js
Due: eslint, prettier --write, stylelint --fix

Notification popups were implemented
  src/App.tsx
  src/components/notifications/Notification.tsx
  src/components/notifications/NotificationHeader.tsx
  src/components/notifications/Notifications.tsx
  src/components/routing/AllRoutes.tsx
  src/interfaces/contexts/NotificationContext.ts
  src/interfaces/other/INotification.ts
  src/interfaces/props/component/NotificationProps.ts
  src/styles/components/notification.module.scss
  src/styles/layout/notifications.module.scss
  src/utils/notifications/NotificationContext.ts
  src/utils/notifications/NotificationType.ts
  src/utils/notifications/notification.actions.ts
  src/utils/notifications/notificationCreators.ts
  src/utils/notifications/notifications.reducer.ts
Due: eslint, prettier --write, stylelint --fix

Basic redux, redux-saga, api-service functionality for categories were implemented
  package-lock.json
  package.json
  src/interfaces/entities/ICategory.ts
  src/interfaces/redux/states/categories.state.ts
  src/interfaces/redux/states/normalizedState.ts
  src/interfaces/services/ICategoryService.ts
  src/redux/categories/categories.actions.ts
  src/redux/categories/categories.initialState.ts
  src/redux/categories/categories.selectors.ts
  src/redux/categories/categories.slice.ts
  src/redux/categories/sagas/сategory.saga.ts
  src/redux/root.saga.ts
  src/redux/store.ts
  src/redux/utils/normalized.initialState.ts
  src/redux/utils/normaliztionUtils.ts
  src/redux/utils/request.handlers.ts
  src/services/AxiosBaseService.ts
  src/services/api/apiInstance.ts
  src/services/auth.service.ts
  src/services/category.service.ts
Due: eslint, prettier --write

Params and data parameters were added for crumb handle
  src/components/breadcrumbs/BreadCrumbs.tsx
  src/components/breadcrumbs/HomeCrumb.tsx
  src/interfaces/utils/pages.ts
  src/styles/components/breadcrumbs.module.scss
  src/utils/pageLoaders.ts
  src/utils/pages.tsx
Due: eslint, prettier --write, stylelint --fix

Product card was implemented
  src/components/uiKit/buttons/PurchaseButton.tsx
  src/components/uiKit/buttons/SecondaryButton.tsx
  src/interfaces/props/component/ButtonProps.ts
  src/interfaces/props/component/IProductCardProps.ts
  src/pages/category/Price.tsx
  src/pages/category/ProductCard.tsx
  src/styles/components/image.module.scss
  src/styles/components/link.module.scss
  src/styles/pages/category.module.scss
  src/utils/formatPrice.ts
Due: eslint, prettier --write, stylelint --fix

Redux-saga takeLatestAbortable custom-effect was implemented
  src/interfaces/utils/Penultimate.ts
  src/redux/redux-saga/customEffects/takeLatestAbortable.ts
Due: eslint, prettier --write

Header's height miscalculation were fixed
  src/styles/abstracts/_variables.scss
  src/styles/layout/header/header.module.scss
  src/styles/layout/header/logo.module.scss
  src/styles/layout/page.module.scss
Due: stylelint --fix

Basic skeleton for Category and Product pages component
  src/components/routing/CategoryOrProduct.tsx
  src/components/routing/router.tsx
  src/interfaces/props/common/CurrentParamProp.ts
  src/interfaces/props/component/CategoryOrProductProps.ts
  src/interfaces/props/component/CategoryProps.ts
  src/interfaces/props/component/ProductProps.ts
  src/pages/Product.tsx
  src/pages/category/index.tsx
Due: eslint, prettier --write

Components were refactored to follow BEM convention
  src/components/auth/EmailGroup.tsx
  src/components/auth/PasswordGroup.tsx
  src/components/auth/SignIn.tsx
  src/components/auth/SignUp.tsx
  src/components/layout/Layout.tsx
  src/components/layout/header/InfoPanel.tsx
  src/components/layout/header/Logo.tsx
  src/components/layout/header/SearchForm.tsx
  src/components/layout/header/ShoppingPanel.tsx
  src/components/layout/header/index.tsx
  src/components/notifications/Notification.tsx
  src/components/notifications/NotificationHeader.tsx
  src/components/uiKit/ModalWindow.tsx
  src/components/uiKit/buttons/PrimaryButton.tsx
  src/components/uiKit/buttons/SocialButton.tsx
  src/components/uiKit/inputs/FormGroup.tsx
  src/components/uiKit/inputs/Input.tsx
  src/components/uiKit/inputs/InputGroup.tsx
  src/components/uiKit/inputs/Label.tsx
  src/components/uiKit/inputs/ServersideError.tsx
  src/components/uiKit/inputs/ValidationInfo.tsx
  src/pages/Account.tsx
  src/styles/components/button.module.scss
  src/styles/components/notification.module.scss
  src/styles/layout/header/searchform.module.scss
Due: eslint, prettier --write, stylelint --fix

App.tsx and index.tsx were modified to fetch categories and to show preview loader
  src/App.tsx
  src/index.tsx
  src/interfaces/redux/other/requestStatus.ts
Due: eslint, prettier --write

Basic redux, redux-saga, api-service functionality for products were implemented
  src/interfaces/entities/products/IProduct.ts
  src/interfaces/entities/products/IProductVariation.ts
  src/interfaces/entities/products/ProductDetails.ts
  src/interfaces/redux/states/products.state.ts
  src/interfaces/services/IProductService.ts
  src/interfaces/services/requests/FilterQuery.ts
  src/interfaces/services/requests/products.requestInputs.ts
  src/interfaces/services/responses/PaginationResponse.ts
  src/interfaces/utils/AnyObject.ts
  src/redux/products/products.actions.ts
  src/redux/products/products.initialState.ts
  src/redux/products/products.selectors.ts
  src/redux/products/products.slice.ts
  src/redux/products/sagas/products.saga.ts
  src/services/product.service.ts
Due: eslint, prettier --write

Pagination was implemented
  src/components/uiKit/pagination/Pagination.tsx
  src/components/uiKit/pagination/PaginationSwitchButton.tsx
  src/hooks/usePagination.ts
  src/interfaces/props/component/PaginationButtonProps.ts
  src/interfaces/props/component/PaginationProps.ts
  src/interfaces/props/hook/UsePaginationProps.ts
  src/styles/components/arrow.module.scss
  src/styles/components/pagination.module.scss
Due: eslint, prettier --write, stylelint --fix

PreviewLayout with loader were implemented
  src/components/layout/PreviewLayout.tsx
  src/components/uiKit/Loader.tsx
  src/styles/abstracts/_keyframes.scss
  src/styles/components/loader.module.scss
  src/styles/layout/preview.module.scss
Due: eslint, prettier --write, stylelint --fix
